.picval{display:none}.imgpreview{width:226px;height:130px;background-size:cover;background-position:center center;background-repeat:no-repeat}.pic_show{max-width:200px;display:block;margin-bottom:10px}

/*# sourceMappingURL=metabox.map */