/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2020, 9:08:18 PM
    Author     : kcrosby
*/

body *{
        font-family: "Barlow", sans-serif;
}
.top-nav-block{
        width: 95%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
        overflow: hidden;
    padding: 0em 1em;

    z-index: 555;
}

.top-nav-block .logo{
    width: 168px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;

}

.top-nav-block .logo svg{
    width: 100%;
}

.top-nav-block .logo:hover{
color: #f85f5f;
}

.top-nav-block .button-fill, .top-nav-block .button-ghost{
    float: right;
    border-radius: 8px!important;
} 

.top-nav-block .button-fill a{
    background: #f85f5f!important;
    border-radius: 8px!important;
}

.top-nav-block .button-fill a span{
color: #FFF!important
}

.top-nav-block .button-ghost a{
    background: none!important;
    border-radius: 8px!important;
}

.top-nav-block .button-ghost a span{
color: #6a6a6a!important
}


.button:nth-of-type(2){
    margin-right: 10px
}

.hero-area{
    color:#FFF;

}

.hero-area h1{
    font-weight: 400;
    max-width: 600px;
    margin: 200px auto 20px;
    width: 94%;

}
.hero-area .hero-text{
        font-weight: 400;
    max-width: 600px;
    margin: 0 auto;
    width: 94%;
    padding: 0 0 60px;

}
.hero-area .hero-text p{
    font-size: 32px;
    line-height: 36px;
}
.intro-header {
    
    margin: 0 auto;
    width: 94%;
    text-align: center;
  
}
.intro-header h2{
      color: #444444;
}

.intro-text{
        max-width: 700px;
    margin: 0 auto 40px;
    width: 94%;
     text-align: center;
     color:#444444;
}

.img-text, .cta-right-text >div{
    padding: 60px;
    
}


.cta-heading-h2 h2{
    margin-bottom:40px;
}

.cta-heading-h2 h2 span{
    font-family: "freight-text-pro";
}


body{
  color:  #222222;
}

.set-width > div > div{
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 0;
}

.logo{
    padding: 0 10px
}

.landing-footer{

}

.footer-logo{
    max-width: 280px;
    margin: 0 auto;
    
}

.footer-left,.footer-right{
padding: 100px;
margin-top: 20px;
margin-bottom: 20px;
}

.footer-right{
    border-left:1px solid #888888;
    color:#bbbbbb;
}
.footer-social{
    border-top:1px solid #888888;
}
.landing-footer .wpcf7-email{
    width: 66.66%!important;
    float: left;
    border-radius: 0!important;
}
.landing-footer .wpcf7-submit{
    width: 33.33%!important;
    float: left;
    margin: 1px 0 0!important;
}

.footer-social{
    color: #FFFFFF!important;
}


