/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 31, 2020, 11:02:53 AM
    Author     : kcrosby
*/



 .carousel{
        height: 50em;
        position: relative;
        overflow: hidden;
        .btn{
            svg{
                width: 14px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);  
                transform: translate(-50%, -50%);
            }
            &:hover{
                svg path{
                    animation: colorcyclesvgskip 1s linear 0s infinite normal;
                }
            }
        }
        .img{
            position: absolute;
            width: calc(100% - 70px);
            height: 100%;
            top: 0;
            left: 100%;
            background-size: cover;
            &.stage{
                left: calc(100% - 70px);
            }
            &.active{
                left: 0;
            }
        }
        .next{
            position: absolute;
            width: 70px;
            height: 100%;
            z-index: 2;
            right: 0;
            top: 0;
            svg{
                width: 14px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);  
                transform: translate(-50%, -50%);
                path{
                    @include transition(fill, 0.15s);
                }
            }
            &:hover{
                svg path{
                    animation: none !important;
                    fill: white;
                    // 					animation: colorcyclesvgskip 1s linear 0s infinite normal;
                }
            }
        }
        .back{
            position: absolute;
            width: 70px;
            height: 100%;
            z-index: 2;
            left: 0;
            top: 0;
            display: none;
            svg{
                width: 14px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);  
                transform: translate(-50%, -50%);
                path{
                    @include transition(fill, 0.15s);
                }
            }
            &:hover{
                background-color: transparent !important;
                svg path{
                    animation: none !important;
                    fill: white;
                    // 					animation: colorcyclesvgskip 1s linear 0s infinite normal;
                }
            }
        }
        &.single{
            height: initial;
            .slide{
                position: absolute;
                left: 100%;
                margin: auto;
                top: 40px;
                text-align: center;
                width: 100%;
                &.active{
                    left: 0;
                }
            }
            .btn{
                width: 50px;
                height: 100%;
                background-position: center center;
                padding: 0;
                position: absolute;
                background-size: 15px;
                z-index: 2;
                display: block;
            }
            .back{
                // 				background-image: url(../img/leftarrow_blue.png);
            }
            .next{

            }
        }
        &.double{
            height: initial;
            .slide{
                position: absolute;
                left: 100%;
                margin: auto;
                top: 0;
                text-align: center;
                width: calc(50% - 32px);
                overflow: hidden;
                display: block;
                &.video{
                    &:before{
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 15px 0 15px 30px;
                        border-color: transparent transparent transparent #00ade6;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);  
                        transform: translate(-50%, -50%);
                    }
                }
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                }
                &.on{
                    img{
                        display: block;
                        height: auto;
                        width: 100%;
                        max-width: 500%;
                    }
                }
                &.active{
                    left: 32px;
                }
                &.onslide{
                    left: calc(50% - 00px);
                }
                &.nextslide{
                    width: calc(50% - 32px);
                    left: calc(100% - 32px);
                    // 					left: calc(100% - 64px);
                    // 					width: 100px;
                }
                &.lastslide{
                    // 					left: 0;
                    left: calc(-50% + 64px);
                    width: calc(50% - 32px);
                    // 					width: 64px;
                }
                &:after{
                    content: "";
                    opacity: 0.0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #26b4e8;
                    @include transition(opacity, 0.15s);
                }
                &:hover{
                    &:after{
                        display: block;
                        opacity: 0.75;
                        // 						animation: colorcycle 1s linear 0s infinite normal;
                    }
                    &.video{
                        &:before{
                            z-index: 3;
                            border-color: transparent transparent transparent #fff;
                        }
                    }
                }
            }
            &.contact{
                .btn{
                    @include transition(background-color, 0.15s);
                    svg path{
                        @include transition(fill, 0.15s);
                    }
                    &:before, &:after{
                        display: none !important;
                    }
                    &:hover{
                        background-color: rgba(0,168,230,0.75);
                        /*
                                                                        &:after{
                                                                                position: absolute;
                                                                                content: "";
                                                                                z-index: 2;
                                                                                width: 100%;
                                                                                height: 100%;
                                                                                top: 0;
                                                                                left: 0;
                                                                                opacity: 0.75;
                                                                                animation: colorcycle 1s linear 0s infinite normal;
                                                                        }
                        */
                        svg{
                            z-index: 3;
                            opacity: 1;
                            path{
                                fill: white;
                                opacity: 1;
                                animation: none !important;
                            }
                        }
                    }
                }
            }
            &.contact{
                .slide{
                    &:before, &:after{
                        display: none !important;
                    }
                    &:hover{
                        &:after{
                            background-color: transparent !important;
                            animation: none !important;
                        }
                    }
                }
            }
            &.twoside{
                .slide{
                    &.active{
                        left: 0%;
                        width: 50%;
                    }
                    &.nextslide{
                        left: 50%;
                    }
                    &[data-slide="3"]{
                        left: calc(100% - 64px);
                    }
                }
            }
            &.homepage{
                .slide{

                }
            }
            &.projects{
                height: 350px !important;
                .slide{
                    width: calc(100% - 32px);
                    height: 350px !important;
                    left: 100%;
                    img{
                        height: auto !important;
                    }
                    &.active{
                        width: calc(100% - 32px);
                    }
                    &.nextslide{
                        width: calc(100% - 32px);
                        left: calc(100% - 32px);
                    }
                    &.top{
                        z-index: 2;
                    }
                    &[data-slide="3"]{
                        left: 100%;
                    }
                    overflow: hidden;
                    &:hover{
                        .content{
                            z-index: 3;
                        }
                    }
                    .content{
                        position: absolute;
                        top: 0;
                        text-align: left;
                        width: 100%;
                        text-shadow: -1px 1px rgb(81, 81, 81);
                        p{
                            color: white;
                            margin: 0 auto;
                            width: 83.5%;
                            // 				max-width: 664px;
                            @include transition(opacity, 0.15s);
                            position: relative;
                            z-index: 2;
                            line-height: 1em;
                            &.title{
                                font-family: 'Barlow Condensed', sans-serif;
                                letter-spacing: 0.1em;
                                font-weight: 700;
                                margin-bottom: 0.5em;
                                padding-top: 7.3%;
                                font-size: 1.125em;
                                position: relative;
                                z-index: 4;
                                text-transform: uppercase;
                            }
                            &.desc{
                                font-family: 'Barlow', sans-serif;
                                font-weight: 500;
                                font-size: 1.125em;
                                position: relative;
                                z-index: 4;
                            }
                        }
                    }
                }
                .btn{
                    svg path{
                        fill: #26b4e8;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        @include transition(background-color, 0.15s);
                    }
                    &:hover{
                        &:after{
                            background-color: #00a8e6;
                            // 							animation: colorcycle 1s linear 0s infinite normal;
                            z-index: 2;
                            opacity: 0.75;
                        }
                        svg path{
                            opacity: 1;
                            fill: white;
                            animation: none !important;
                            z-index: 3;
                        }
                        svg{
                            opacity: 1;
                            z-index: 3;
                        }
                    }
                }
            }
            &.wentworth{
                .slide{
                    &:hover{
                        &:after{
                            animation: none !important;
                            background-color: none !important;
                        }
                    }
                }
            }
            .btn{
                width: 32px;
                height: 100%;
                background-position: center center;
                padding: 0;
                position: absolute;
                background-size: 15px;
                z-index: 3;
            }
            .back{
                background-image: url(../img/leftarrow_blue.png);
            }
            .next{

            }
            &.oneside{
                .slide{
                    width: calc(100% - 32px);
                    &.active{
                        left: 0;
                    }
                    &.lastslide{
                        left: 100%;
                    }
                    &.nextslide{
                        // 						width: 64px;
                    }
                }
            }
            &.full{
                .slide{
                    width: 100%;
                    &.active{
                        left: 0;
                    }
                    &.lastslide{
                        left: 100%;
                    }
                    &.nextslide{
                        // 						width: 64px;
                    }
                }
            }
            &.wentworth{
                .btn{
                    &:before{
                        z-index: 1;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #26b4e8;
                        // 						animation: colorcycle 1s linear 0s infinite normal;
                        opacity: 0.0;
                        @include transition(opacity, 0.15s);
                    }
                    &:hover{
                        &:before{
                            opacity: 0.75;
                        }
                        svg{
                            z-index: 2;
                            path{
                                fill: white;
                                animation: none !important;
                            }
                        }
                    }
                }
                .slide{
                    &.video{
                        &:before{
                            // 							background-image: url(../img/playbtn.png);
                            width: 30px;
                            height: 30px;
                            z-index: 3;
                        }
                        /*
                                                                        &:after{
                                                                                content: "";
                                                                                position: absolute;
                                                                                top: 0;
                                                                                left: 0;
                                                                                width: 100%;
                                                                                height: 100%;
                                                                                z-index: 2;
                                                                                opacity: 0.75;
                                                                        }
                                                                        &:hover{
                                                                                &:after{
                                                                                        animation: colorcycle 1s linear 0s infinite normal;
                                                                                }
                                                                        }
                        */
                    }
                }
            }
            &.timberland{
                margin-top: 2em;
                &.oneside{
                    .slide{
                        width: calc(100% - 32px);
                    }
                }
                &.full{
                    .slide{
                        width:100%;
                    }
                }
            }
        }
        &.triple{
            height: initial;
            .slide{
                position: absolute;
                margin: auto;
                top: 0;
                // 				right: 0;
                text-align: center;
                width: 100%;
                left: 50%;
                @include transition(transform, 0.2s);
                &.scale{
                    transform: scale(0.7);
                }
                &.active{
                    left: 0;
                }
                &.lastslide{
                    left: -100%;
                }
                &.wentworth{
                    margin-bottom: 8em;
                }
            }
            .btn{
                width: 100px;
                height: 100%;
                background-position: center center;
                padding: 0;
                position: absolute;
                background-size: 15px;
                z-index: 2;
            }
            .back{
                background-image: url(../img/leftarrow_blue.png);
            }
            .next{

            }
            &.wentworth{
                margin-bottom: 8em;
                margin-left: auto;
                margin-right: auto;
                overflow: visible;
                max-width: 1600px;
                .slide{
                    left: 138%;
                    @include transition(transform, 0.2s);
                    p{
                        opacity: 0;
                        @include transition(opacity, 0.2s);
                    }
                    &.scale{
                        transform: scale(0.5);
                    }
                    &.active, &.incoming{
                        p{
                            display: block;
                            opacity: 1;
                        }
                    }
                    &.lastslide{
                        left: -74%;
                    }

                    &[data-slide="2"]{
                        left: 74%;
                    }
                    &.active{
                        left: 0;
                    }
                }
                &.gray_arrow{
                    .next{
                        right: -3%;
                        width: 15%;
                        cursor: default;
                        z-index: 5;
                        svg{
                            left: 10%;
                            -webkit-transform: translate(0%, -50%);
                            transform: translate(0, -50%);
                        }
                        &:hover{
                            svg path{
                                opacity: 0.1;
                                animation: none !important;
                            }
                        }
                    }
                    .back{
                        left: -6%;
                        width: 15%;
                        cursor: default;
                        z-index: 5;
                        background: none;
                        svg{
                            left: 90%;
                            -webkit-transform: translate(0%, -50%);
                            transform: translate(0, -50%);
                            path{
                                fill: #5c6467;
                                opacity: 0.1;
                            }
                        }
                        &:hover{
                            animation: none !important;
                            svg path{
                                opacity: 0.1;
                                animation: none !important;
                            }
                        }
                    }
                    /*
                                                            .back{
                                                                    right: 6%;
                                                            }
                    */
                }
            }
            &.goodwill{
                margin: 6em auto;
                .slide{
                    width: 65%;
                    left: 92%;
                    img{
                        position: relative;
                    }
                    &.lastslide{
                        left: -57%;
                    }
                    &.active{
                        left: 19%;
                    }
                    &.scale{
                        transform: scale(1);
                    }
                }
                .back{
                    width: 50px;
                    left: 5%;
                    background-image: none;
                    animation: none !important;
                    display: block;
                    cursor: default;
                    z-index: 6;
                    svg path{
                        fill: #5c6467;
                        opacity: 0.1;
                    }
                    &:hover{
                        svg path{
                            opacity: 0.1;
                            animation: none !important;
                        }
                    }
                }
                .next{
                    width: 50px;
                    right: 5%;
                    background-image: none;
                    cursor: default;
                    z-index: 6;
                    svg path{
                        fill: #5c6467;
                        opacity: 0.1;
                    }
                    &:hover{
                        animation: none !important;
                        svg path{
                            opacity: 0.1;
                            animation: none !important;
                        }
                    }
                }
            }
            &.wellpet{
                margin: 6em auto;
                .slide{
                    width: 65%;
                    left: 92%;
                    img{
                        position: relative;
                    }
                    &.lastslide{
                        left: -57%;
                    }
                    &.active{
                        left: 19%;
                    }
                    &.scale{
                        transform: scale(1);
                    }
                }
                .back{
                    width: 50px;
                    left: 5%;
                    background-image: none;
                    animation: none !important;
                    display: block;
                    cursor: default;
                    z-index: 6;
                    svg path{
                        fill: #5c6467;
                        opacity: 0.1;
                    }
                    &:hover{
                        svg path{
                            opacity: 0.1;
                            animation: none !important;
                        }
                    }
                }
                .next{
                    width: 50px;
                    right: 5%;
                    background-image: none;
                    cursor: default;
                    z-index: 6;
                    svg path{
                        fill: #5c6467;
                        opacity: 0.1;
                    }
                    &:hover{
                        animation: none !important;
                        svg path{
                            opacity: 0.1;
                            animation: none !important;
                        }
                    }
                }
            }
        }
        &.nobg{
            .btn{
                background-color: transparent;
            }
        }
        &.nobtn{
            .btn{
                background: transparent;
            }
            &.wentworth.double{
                .btn{
                    &.next{
                        svg{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);  
                            transform: translate(-50%, -50%);
                            width: 14px;
                        }
                        &:hover{
                            animation: none !important;
                            opacity: 1;
                            svg path{
                                animation: colorcyclesvgskip 1s linear 0s infinite normal;
                            }
                        }
                    }
                    &.back{
                        right: initial;
                        left: 0;
                        display: none;
                        svg{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);  
                            transform: translate(-50%, -50%);
                            width: 14px;
                        }
                        &:hover{
                            animation: none !important;
                            opacity: 1;
                            svg path{
                                animation: colorcyclesvgskip 1s linear 0s infinite normal;
                            }
                        }
                    }
                }
            }
            &.timberland.double{
                .btn{
                    &.next{
                        @include transition(background-color, 0.15s);
                        svg{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);  
                            transform: translate(-50%, -50%);
                            width: 14px;
                        }
                        &:hover{
                            animation: none !important;
                            opacity: 1;
                            background-color: #00a8e6;
                            svg path{
                                fill: white;
                                animation: none !important;
                                // 								animation: colorcyclesvgskip 1s linear 0s infinite normal;
                            }
                        }
                    }
                    &.back{
                        right: initial;
                        left: 0;
                        display: none;
                        svg{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);  
                            transform: translate(-50%, -50%);
                            width: 14px;
                        }
                        &:hover{
                            animation: none !important;
                            opacity: 1;
                            svg path{
                                animation: colorcyclesvgskip 1s linear 0s infinite normal;
                            }
                        }
                    }
                }
            }
        }
        &.nopad{
            .slide{
                top: 0;
            }
        }
        &.gray_arrow{
            .back{
                background-image: url(../img/leftarrow_gray.png);
                left: 16%;
                opacity: 1;
            }
            .next{
                background-image: url(../img/rightarrow_gray.png);
                left: initial;
                right: 18%;
                opacity: 1;
            }
        }
        &.wentworth{
            .slide{
                img{
                    max-width: 1072px;
                    width: 73%;
                    position: relative;
                }
            }
            &.gray_arrow{
                .next{
                    right: -3%;
                    right: initial;
                    opacity: 1;
                    background-image: none;
                    svg path{
                        fill: #5c6467;
                        opacity: 0.1;
                    }
                    &:hover{
                        svg path{
                            opacity: 1;
                            animation: colorcyclesvg 1s linear 0s infinite normal;;
                        }
                    }
                }
                /*
                                                .back{
                                                        right: 13%;
                                                }
                */
            }
            p{
                width: 93%;
                max-width: 800px;
            }
        }
        &.withcopy{
            img{
                margin-bottom: 2em;
            }
            p{
                color: #2cade3;
                text-align: left;
                margin: 0 auto;
                line-height: 1.3em;
                margin-bottom: 0.25em;
                font-size: 1.25em;
            }
        }
        &.links{
            position: relative;
            height: 58em;
            .next{
                @include transition(opacity, 0.15s);
                z-index: 5;
                right: 0;
                width: 40px;
                background-image: none;
                svg{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);  
                    transform: translate(-50%, -50%);
                    width: 15px;
                    path{
                        fill: white;
                        opacity: 0.2;
                    }
                }
                &:hover{
                    animation: none !important;
                    svg path{
                        opacity: 1;
                        animation: colorcyclesvg 1s linear 0s infinite normal;
                    }
                }
            }
            .bg{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                &.on{
                    opacity: 1;
                }
                &.fade{
                    opacity: 0;
                    display: none;
                    z-index: 2;
                }
            }
            .copybox{
                position: absolute;
                left: 4.5%;
                -webkit-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
                z-index: 4;
                width: 93%;
                margin: 0 auto;
                max-width: 93%;
                top: 25%;
                p{
                    color: white;
                    font-family: 'Barlow Condensed', sans-serif;
                    margin: 0;
                    line-height: 1em;
                    width: initial;
                    &.counter{
                        font-weight: 600;
                        font-size: 1.25em;
                        letter-spacing: 0.03em;
                    }
                }
                a{
                    color: white;
                }
                .copy{
                    p{
                        font-size: 1.15em;
                        font-family: "freight-sans-pro";
                        font-weight: 400;
                        line-height: 1.5em;
                        b{
                            letter-spacing: 0.08em;
                            font-family: 'Barlow Condensed', sans-serif;
                            font-size: 1.2em;
                            display: block;
                            margin: 1em 0;
                            line-height: 1em;
                        }
                    }
                    a{
                        color: white;
                        font-weight: 600;
                        font-size: 1.25em;
                        background-image: url(../img/linkbox.png);
                        background-position: right center;
                        background-repeat: no-repeat;
                        padding-right: 1.5em;
                        background-size: 0.8em;
                        display: inline-block;
                        margin-top: 1.5em;
                    }
                }
            }
            &.wentworth{
                .slide{
                    width: 75%;
                    max-width: 873px;
                    &.offstage{
                        left: 165%;
                    }
                }
                .copybox{
                    max-width: 93%;
                }
                .next{
                    right: 0;
                    width: 5%;
                    z-index: 5;
                    cursor: default;
                    &:hover{
                        svg path{
                            animation: none !important;
                            opacity: 0.2;
                        }
                    }
                    svg{
                        left: 0;
                        -webkit-transform: translate(-0%, -50%);
                        transform: translate(-0%, -50%);
                    }
                }
            }
            &.grain{
                height: 42.5em;
                margin-bottom: 5em;
                .next{
                    svg path{
                        fill: #5c6467;
                    }
                    right: 0;
                    width: 15%;
                    opacity: 0.5;
                    cursor: default;
                    &:hover{
                        animation: none !important;
                        svg path{
                            opacity: 0.2;
                            animation: none !important;
                        }
                    }
                }
                .slide{
                    width: 70%;
                    max-width: 902px;
                    left: 200%;
                    &.active{
                        left: 50%;
                    }
                    &.nextslide{
                        left: 140%;
                    }
                }
                .copybox{
                    max-width: 93%;
                    p{
                        color: #f85f5f;
                        font-family: "freight-sans-pro";
                        font-weight: 300;
                        font-size: 1.2em;
                        &.counter{
                            font-size: 2.5em;
                            position: relative;
                            padding-bottom: 0.4em;
                            margin-bottom: 0.4em;
                            &:after{
                                content: "";
                                width: 14px;
                                height: 2px;
                                background-color: #f85f5f;
                                bottom: 0;
                                left: 0;
                                position: absolute;
                            }
                        }
                    }
                }
            }
            &.inert{
                height: 18em;
                margin-bottom: 10.5em;
                overflow: visible;
                margin-top: 5em;
            }
            &.wellpet{
                background-color: #907258;
                .slide{
                    width: 75%;
                    max-width: 873px;
                    &.offstage{
                        left: 165%;
                    }
                }
                .copybox{
                    max-width: 93%;
                }
                .next{
                    right: 0;
                    width: 16%;
                    z-index: 5;
                    cursor: default;
                    &:hover{
                        svg path{
                            animation: none !important;
                            opacity: 0.2;
                        }
                    }
                    svg{
                        left: 0;
                        -webkit-transform: translate(-0%, -50%);
                        transform: translate(-0%, -50%);
                    }
                }
            }
            .slide{
                position: absolute;
                top: 68%;
                left: 140%;
                -webkit-transform: translate(-50%, -50%);  
                transform: translate(-50%, -50%);
                z-index: 3;
                .copy{
                    display: none;
                }
                &.active{
                    left: 50%;
                }
                img{
                    width: 100%;
                    position: relative;
                }
            }
            &.inert{
                .slide{
                    width: 85%;
                    -webkit-transform: translate(0%, -50%);  
                    transform: translate(0%, -50%);
                    right: 0;
                    margin: auto;
                    left: 143%;
                    &.active{
                        left: 0;
                    }
                    &.nextslide{
                        left: 93%;
                    }
                    &[data-slide="1"], &[data-slide="2"]{
                        img{
                            width: 91%;
                        }
                    }
                }
                .next{
                    cursor: default;
                    svg path{
                        fill: #5c6467;
                    }
                    svg{
                        top: 50%;
                        left: 0;
                        -webkit-transform: translate(-0%, -50%);
                        transform: translate(-0%, -50%);
                    }
                    right: 0;
                    z-index: 5;
                    opacity: 0.5;
                    width: 8%;
                    &:hover{
                        opacity: 0.5;
                        svg path{
                            animation: none !important;
                            opacity: 0.2;
                        }
                    }
                }
                .back{
                    cursor: default;
                    background-color: transparent;
                    svg path{
                        fill: #5c6467;
                        opacity: 0.2;
                    }
                    svg{
                        top: 50%;
                        left: 90%;
                        -webkit-transform: translate(-0%, -50%);
                        transform: translate(-0%, -50%);
                    }
                    left: 0;
                    z-index: 5;
                    opacity: 0.5;
                    width: 8%;
                    &:hover{
                        opacity: 0.5;
                        animation: none !important;
                        svg path{
                            animation: none !important;
                            opacity: 0.2;
                        }
                    }
                }
            }
        }
    }


  @media only screen and (min-width: 768px) {
       .carousel{
            &.double{
                .btn{
                    width: 64px;
                }
                .slide{
                    width: calc(50% - 64px);
                    &.active{
                        left: 64px;
                    }
                    &.nextslide{
                        width: calc(50% - 64px);
                        left: calc(100% - 64px);
                    }
                    &.lastslide{
                        left: calc(-50% + 128px);
                        width: calc(50% - 64px);
                    }
                }
                .slide{
                    // 					top: 40px;
                }
                &.oneside{
                    .slide{
                        width: calc(100% - 64px);
                    }
                    &.timberland{
                        margin-top: 2em;
                        .slide{
                            width: calc(100% - 32px);
                        }
                    }
                }
                &.full{
                    .slide{
                        width: 100% ;
                    }
                    &.timberland{
                        margin-top: 2em;
                        .slide{
                            width: 100%;
                        }
                    }
                }
                &.projects{
                    height: 350px !important;
                    .slide{
                        height: 350px !important;
                        width: calc(50% - 32px);
                        &.active{
                            width: 50%;
                        }
                        &.nextslide{
                            width: 50%;
                            left: 50%;
                        }
                        &[data-slide="3"]{
                            left: calc(100% - 64px);
                        }
                    }
                }
            }
            &.links{
                .slide{
                    top: 50%;
                    left: 140%;
                    &.active{
                        left: 60%;
                    }
                }
                .copybox{
                    max-width: 250px;
                    top: 50%;
                }
                .next{
                    right: 0%;
                    width: 70px;
                    background-position: center center;
                }
                &.wentworth{
                    .copybox{
                        max-width: 200px;
                    }
                    .slide{
                        width: 63%;
                    }
                }
                &.wellpet{
                    .copybox{
                        max-width: 200px;
                    }
                    .slide{
                        width: 63%;
                    }
                }
                &.inert{
                    height: 24em;
                    margin-bottom: 10.5em;
                }
                &.grain{
                    height: 46em;
                    .next{
                        right: 0;
                        width: 17%;
                    }
                    .slide{
                        width: 46%;
                        &.nextslide{
                            left: 120%;
                        }
                    }
                    .copybox{
                        max-width: 202px;
                    }
                }
            }
            &.triple{
                &.goodwill{
                    margin: 6em auto;
                    .slide{
                        width: 100%;
                        left: 80%;
                        &.lastslide{
                            left: -80%;
                        }
                        &.active{
                            left: 0;
                        }
                    }
                    .back{
                        width: 14%;
                        left: 0;
                        svg{
                            left: 100%;
                        }
                    }
                    .next{
                        width: 14%;
                        right: 0;
                        svg{
                            left: 0;
                        }
                    }
                }
                &.wellpet{
                    margin: 6em auto;
                    .slide{
                        width: 59%;
                        left: 88%;
                        &.lastslide{
                            left: -55%;
                        }
                        &.active{
                            left: 23%;
                        }
                    }
                    .back{
                        width: 14%;
                        left: 0;
                        svg{
                            left: 100%;
                        }
                    }
                    .next{
                        width: 14%;
                        right: 0;
                        svg{
                            left: 0;
                        }
                    }
                }
                &.wentworth{
                    .slide{
                        &.scale{
                            transform: scale(0.75);
                        }
                    }
                    &.gray_arrow{
                        .next{
                            /*
                                                                                    left: 6%;
                                                                                    width: 100px;
                            */
                        }
                    }
                }
            }
            &.single{
                .btn{
                    width: 100px;
                }
            }
            &.twoside{
                .slide{
                    &.active{
                        left: 0%;
                        width: 50%;
                    }
                    &.nextslide{
                        left: 50%;
                    }
                    &[data-slide="3"]{
                        left: calc(100% - 64px);
                    }
                }
            }
        }
        }
        
          @media only screen and (min-width: 968px) {
                   .carousel{
            &.links{
                &.inert{
                    height: 33em;
                    margin-bottom: 10.5em;
                }
            }
            &.triple{
                &.goodwill{
                    margin: 6em auto;
                    .slide{
                        width: 100%;
                        left: 70%;
                        &.lastslide{
                            left: -70%;
                        }
                        &.active{
                            left: 0;
                        }
                    }
                    .back{
                        width: 16%;
                        left: 0;
                        svg{
                            left: 100%;
                        }
                    }
                    .next{
                        width: 16%;
                        right: 0;
                        svg{
                            left: 0;
                        }
                    }
                }
                &.wellpet{
                    margin: 6em auto;
                    .slide{
                        width: 60%;
                        left: 84%;
                        &.lastslide{ 
                            left: -55%;
                        }
                        &.active{
                            left: 23%;
                        }
                    }
                    .back{
                        width: 16%;
                        left: 0;
                        svg{
                            left: 100%;
                        }
                    }
                    .next{
                        width: 16%;
                        right: 0;
                        svg{
                            left: 0;
                        }
                    }
                }
            }
        }
          }

   @media only screen and (min-width: 1200px) {
        .carousel{
            &.links{
                .next{
                    right: 6%;
                }
                .slide{
                    left: 127%;
                    &.active{
                        left: 55%;
                    }
                }
                &.grain{
                    height: 53.5em;
                    .slide{
                        width: 62%;
                        &.active{
                            left: 54%;
                        }
                        &.nextslide{
                            left: 125%;
                        }
                    }
                }
                &.wentworth{
                    .next{
                        width: 11%;
                    }
                }
            }
            &.triple{
                &.goodwill{
                    margin: 6em auto;
                    .slide{
                        width: 100%;
                        left: 60%;
                        &.lastslide{
                            left: -60%;
                        }
                    }
                    .back{
                        width: 20%;
                        left: 0;
                        svg{
                            left: 100%;
                        }
                    }
                    .next{
                        width: 20%;
                        right: 0;
                        svg{
                            left: 0;
                        }
                    }

                }
                &.wellpet{
                    margin: 6em auto;
                    .slide{
                        width: 60%;
                        left: 90%;
                        &.lastslide{
                            left: -56%;
                        }
                    }
                    .back{
                        width: 20%;
                        left: 0;
                        svg{
                            left: 100%;
                        }
                    }
                    .next{
                        width: 20%;
                        right: 0;
                        svg{
                            left: 0;
                        }
                    }

                }
            }
        }
   }




    @media only screen and (min-width: 1500px) {
        .carousel{
            &.links{
                .next{
                    right: 13%;
                }
                .slide{
                    left: 118%;
                    width: 93%;
                    &.active{
                        left: 50%;
                    }
                }
                &.wentworth{
                    .next{
                        width: 16%;
                    }
                }
            }
            &.double{
                &.projects{
                    .slide{
                        img{
                            width: 100% !important;
                        }
                    }
                }
            }
            &.triple{
                &.wellpet{
                    .slide{
                        left: 87%;
                        &.lastslide{
                            left: -50%;
                        }
                    }
                }
            }
        }
    }