@import "vars";

.featured_text{
	&.type1{
		width: 95%;
		max-width: 800px;
		margin: 2.5em auto;
		.box{
			position: relative;
			padding: 3.25em 0;
			&:after{
				content: "";
				width: 100%;
				height: 2px;
				background-image: url(/wp-content/themes/saltwater/img/border.svg);
				position: absolute;
				top: 0;
				left: 0;
			}
			.container{
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				.img{
					width: 100%;
					margin-bottom: 1.5em;
					img{
						max-width: 100%;
						width: 100%;
						height: auto;
					}
				}
				.contents{
					h3{
						text-transform: uppercase;
						margin: 0 0 0.5em;
					}
					p{
						margin: 0;
						line-height: 1.5em;
					}
					.ctas{
						margin-top: 2.1em;
						a{
							font-size: 1.2em;
							display: inline-block;
							margin-right: 1.5em;
							&:last-child{
								margin-right: 0;
							}
							&.type1{
								display: none;
							}
							&.type2{
								background-color: $blue;
								color: white;
								border: 2px solid $blue;
								border-radius: 3px;
								padding: 0.65em 1.9em;
								@include transition(all, 0.15s, linear);
								&:hover{
									background-color: red;
									border-color: red;
								}
							}
							&.type3{
								background-color: transparent;
								color: $blue;
								border: 2px solid $blue;
								border-radius: 3px;
								padding: 0.65em 1.9em;
								@include transition(all, 0.15s, linear);
								&:hover{
									background-color: $blue;
									color: white !important;
								}
							}
							&.type4{
								color: $blue;
								position: relative;
								&:after{
									content: "";
									display: inline-block;
									background-image: url(/wp-content/themes/saltwater/img/chevron_right.svg);
									width: 10px;
									height: 13px;
									background-size: contain;
									background-position: center center;
									background-repeat: no-repeat;
									margin-left: 10px;
									@include transition(margin-left, 0.15s, linear);
								}
								&:hover{
									&:after{
										margin-left: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.type2{
		width: 100%;
		margin: 2.5em auto;
		.box{
			position: relative;
			display: block;
			@include transition(background-color, 0.15s, linear);
			&:hover, &:focus{
				background-color: #eeeff0;
				outline: 0;
			}
			.container{
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				padding: 2.5em;
				.img{
					width: 100%;
					margin-bottom: 1.5em;
					img{
						max-width: 100%;
						width: 100%;
						height: auto;
					}
				}
				.contents{
					h3{
						text-transform: uppercase;
						margin: 0 0 0.5em;
					}
					p{
						margin: 0;
						line-height: 1.5em;
						color: #676f73;
					}
					.ctas{
						margin-top: 2.1em;
						span{
							font-size: 1.2em;
							display: inline-block;
							margin-right: 1.5em;
							cursor: pointer;
							&:last-child{
								margin-right: 0;
							}
							&.type1{
								display: none;
							}
							&.type2{
								background-color: $blue;
								color: white;
								border: 2px solid $blue;
								border-radius: 3px;
								padding: 0.65em 1.9em;
								@include transition(all, 0.15s, linear);
								&:hover{
									background-color: red;
									border-color: red;
								}
							}
							&.type3{
								background-color: transparent;
								color: $blue;
								border: 2px solid $blue;
								border-radius: 3px;
								padding: 0.65em 1.9em;
								@include transition(all, 0.15s, linear);
								&:hover{
									background-color: $blue;
									color: white !important;
								}
							}
							&.type4{
								color: $blue;
								position: relative;
								&:after{
									content: "";
									display: inline-block;
									background-image: url(/wp-content/themes/saltwater/img/chevron_right.svg);
									width: 10px;
									height: 13px;
									background-size: contain;
									background-position: center center;
									background-repeat: no-repeat;
									margin-left: 10px;
									@include transition(margin-left, 0.15s, linear);
								}
								&:hover{
									&:after{
										margin-left: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.type3{
		width: 100%;
		margin: 2.5em auto;
		.box{
			position: relative;
			display: block;
			margin-bottom: 1.5em;
			align-self: flex-start;
			&:hover, &:focus{
				outline: 0;
				.container{
					.contents{
						.ctas{
							max-height: 500px;
							transition: max-height 0.25s ease-in;
						}
					}
					.img{
						img{
							opacity: 0.05;
						}
					}
				}
			}
			.container{
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				padding: 0 0;
				.img{
					width: 100%;
					background-color: #5c6267;
					img{
						max-width: 100%;
						width: 100%;
						height: auto;
						display: block;
						@include transition(opacity, 0.15s, linear);
					}
				}
				.contents{
					position: absolute;
				    top: 0;
				    left: 3.5em;
				    height: 100%;
				    width: calc(100% - 7em);
				    text-align: center;
				    display: flex;
				    flex-direction: column;
				    flex-wrap: wrap;
				    align-items: center;
				    justify-content: center;
					h3{
						color: white;
					    margin: 0 0 0em;
					    font-family: "freight-text-pro";
					    font-weight: 400;
					    line-height: 1.1em;
					    font-size: 2em;
					    letter-spacing: 0;
					}
					p{
						margin: 0;
						line-height: 1.5em;
						color: #676f73;
					}
					.ctas{
						max-height: 0;
					    transition: max-height 0.15s ease-out;
					    overflow: hidden;
						span{
							font-size: 1.2em;
							display: inline-block;
							cursor: pointer;
							margin-top: 1.5em;
							&:last-child{
								margin-right: 0;
							}
							&.type1{
								display: none;
							}
							&.type2{
								background-color: $blue;
								color: white;
								border: 2px solid $blue;
								border-radius: 3px;
								padding: 0.65em 1.9em;
								@include transition(all, 0.15s, linear);
								&:hover{
									background-color: red;
									border-color: red;
								}
							}
							&.type3{
								background-color: transparent;
								color: $blue;
								border: 2px solid $blue;
								border-radius: 3px;
								padding: 0.65em 1.9em;
								@include transition(all, 0.15s, linear);
								&:hover{
									background-color: $blue;
									color: white !important;
								}
							}
							&.type4{
								color: $blue;
								position: relative;
								&:after{
									content: "";
									display: inline-block;
									background-image: url(/wp-content/themes/saltwater/img/chevron_right.svg);
									width: 10px;
									height: 13px;
									background-size: contain;
									background-position: center center;
									background-repeat: no-repeat;
									margin-left: 10px;
									@include transition(margin-left, 0.15s, linear);
								}
								&:hover{
									&:after{
										margin-left: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@media only screen and (min-width: 768px) {
		&.type1{
			.box{
				.container{
					flex-direction: row;
					.img{
						width: 180px;
						margin-right: 50px;
						margin-bottom: 0;
					}
					.contents{
						width: calc(100% - 230px);
					}
				}
			}
		}
		&.type2{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.box{
				width: 50%;
				.container{
					flex-direction: column;
					.img{
						width: 100%;
					}
					.contents{
						width: 100%;
					}
				}
			}
		}
		&.type3{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			> .box{
				width: 49%;
				margin-right: 2%;
				&:nth-child(even){
					margin-right: 0;
				}
				.container{
					flex-direction: column;
					.img{
						width: 100%;
					}
					.contents{
					}
				}
			}
		}
	}
	@media only screen and (min-width: 960px) {
		&.type2{
			.box{
				width: 25%;
			}
		}
		&.type2{
			&[data-count="2"]{
				> .box{
					width: calc(100% / 2);
				}
			}
			&[data-count="3"]{
				> .box{
					width: calc(100% / 3);
				}
			}
			&[data-count="4"]{
				> .box{
					width: calc(100% / 4);
				}
			}
			&[data-count="5"]{
				> .box{
					width: calc(100% / 5);
				}
			}
		}
	}
	@media only screen and (min-width: 1200px) {
		&.type3{
			&[data-count="3"]{
				> .box{
					width: 32%;
					&:nth-child(even){
						margin-right: 2%;	
					}
				}
			}
			&[data-count="4"]{
				> .box{
					width: 23.5%;
					&:nth-child(even){
						margin-right: 2%;	
					}
				}
			}
			&[data-count="5"]{
				> .box{
					width: 18.4%;
					&:nth-child(even){
						margin-right: 2%;	
					}
				}
			}
			> .box{
				margin-bottom: 0;
				&:last-child{
					margin-right: 0 !important;
				}
			}
		}
	}
}