/*

*/
/*
    Created on : Mar 31, 2020, 10:49:21 AM
    Author     : kcrosby
*/

@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=e6422a3c-7741-4915-a367-b8a8f1399e77");
@font-face{
    font-family:"ITC Avant Garde Gothic W01 Bk";
    src:url("Fonts/07413afc-2280-4cfc-8860-184839a93fa4.eot?#iefix");
    src:url("Fonts/07413afc-2280-4cfc-8860-184839a93fa4.eot?#iefix") format("eot"),url("Fonts/6f1146c0-9c0b-4949-866d-9affc396531f.woff2") format("woff2"),url("Fonts/2c50f982-bb73-4891-8d0e-587c1136c2e5.woff") format("woff"),url("Fonts/abf065fe-a1ab-4013-8c49-45ce7f8ac828.ttf") format("truetype");
}
@font-face{
    font-family:"ITC Avant Garde Gothic W01 Md";
    src:url("Fonts/94b3736a-77b0-4279-b365-b3c70960549b.eot?#iefix");
    src:url("Fonts/94b3736a-77b0-4279-b365-b3c70960549b.eot?#iefix") format("eot"),url("Fonts/39dda6db-d579-4a2e-b67c-abf7d732b97c.woff2") format("woff2"),url("Fonts/6cf5eb52-bda1-4506-b101-1cb1cb9ac146.woff") format("woff"),url("Fonts/af9bc1b5-0bc5-4c5f-8201-7652aeea386d.ttf") format("truetype");
}
@font-face{
    font-family:"ITC Avant Garde Gothic W01 Dm";
    src:url("Fonts/38de0cc0-acad-43e5-b0d6-87171c0915f7.eot?#iefix");
    src:url("Fonts/38de0cc0-acad-43e5-b0d6-87171c0915f7.eot?#iefix") format("eot"),url("Fonts/8bfba692-98b4-401d-b187-205f59d508cf.woff2") format("woff2"),url("Fonts/29cf02ec-9cbf-449b-abff-06b4ab9b1cc0.woff") format("woff"),url("Fonts/d35364ca-710c-4712-8aed-068488f4fdc1.ttf") format("truetype");
}
@font-face{
    font-family:"ITC Avant Garde Gothic W01 Bd";
    src:url("Fonts/7882e98f-91dc-4562-9ae7-89142461ea7d.eot?#iefix");
    src:url("Fonts/7882e98f-91dc-4562-9ae7-89142461ea7d.eot?#iefix") format("eot"),url("Fonts/4cadb55f-822a-4a35-8918-becfc5a866a3.woff2") format("woff2"),url("Fonts/af007af5-dcfa-465a-a278-47ab3eb9a589.woff") format("woff"),url("Fonts/9a9365bb-bc37-4768-8d00-df0bdf405665.ttf") format("truetype");
}

@font-face {
    font-family: 'ceragr-bold';
    src: url('../fonts/cera_gr_bold-webfont.eot');
    src: url('../fonts/cera_gr_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cera_gr_bold-webfont.woff2') format('woff2'),
        url('../fonts/cera_gr_bold-webfont.woff') format('woff'),
        url('../fonts/cera_gr_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ceragr-regular';
    src: url('../fonts/cera_gr-webfont.eot');
    src: url('../fonts/cera_gr-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cera_gr-webfont.woff2') format('woff2'),
        url('../fonts/cera_gr-webfont.woff') format('woff'),
        url('../fonts/cera_gr-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ceragr-medium';
    src: url('../fonts/cera_gr_medium-webfont.eot');
    src: url('../fonts/cera_gr_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cera_gr_medium-webfont.woff2') format('woff2'),
        url('../fonts/cera_gr_medium-webfont.woff') format('woff'),
        url('../fonts/cera_gr_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ceragr-light';
    src: url('../fonts/cera_gr_light-webfont.eot');
    src: url('../fonts/cera_gr_light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cera_gr_light-webfont.woff2') format('woff2'),
        url('../fonts/cera_gr_light-webfont.woff') format('woff'),
        url('../fonts/cera_gr_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ceragr-thin';
    src: url('../fonts/cera_gr_thin-webfont.eot');
    src: url('../fonts/cera_gr_thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cera_gr_thin-webfont.woff2') format('woff2'),
        url('../fonts/cera_gr_thin-webfont.woff') format('woff'),
        url('../fonts/cera_gr_thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ceragr-black';
    src: url('../fonts/CeraGR-Black.eot');
    src: url('../fonts/CeraGR-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraGR-Black.woff2') format('woff2'),
        url('../fonts/CeraGR-Black.woff') format('woff'),
        url('../fonts/CeraGR-Black.ttf') format('truetype'),
        url('../fonts/CeraGR-Black.svg#CeraGR-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'GothamBlack';
    src: url('../fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamBlack.woff') format('woff'), url('../fonts/GothamBlack.ttf')  format('truetype'), url('../fonts/GothamBlack.svg#GothamBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tungsten-Medium';
    src: url('../fonts/Tungsten-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Tungsten-Medium.woff') format('woff'), url('../fonts/Tungsten-Medium.ttf')  format('truetype'), url('../fonts/Tungsten-Medium.svg#Tungsten-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-ExtraLight';
    src: url('../fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/SourceSansPro-ExtraLight.otf')  format('opentype'),
        url('../fonts/SourceSansPro-ExtraLight.woff') format('woff'), url('../fonts/SourceSansPro-ExtraLight.ttf')  format('truetype'), url('../fonts/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CervoNeue-SemiBoldNeue';
    src: url('../fonts/CervoNeue-SemiBoldNeue.eot?#iefix') format('embedded-opentype'),  url('../fonts/CervoNeue-SemiBoldNeue.otf')  format('opentype'),
        url('../fonts/CervoNeue-SemiBoldNeue.woff') format('woff'), url('../fonts/CervoNeue-SemiBoldNeue.ttf')  format('truetype'), url('../fonts/CervoNeue-SemiBoldNeue.svg#CervoNeue-SemiBoldNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Router-Light';
    src: url('../fonts/Router-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Router-Light.otf')  format('opentype'),
        url('../fonts/Router-Light.woff') format('woff'), url('../fonts/Router-Light.ttf')  format('truetype'), url('../fonts/Router-Light.svg#Router-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-size: 80%
}

   @media only screen and (min-width: 768px) {
       body{
         font-size: 85%;
       }
   }
   
      @media only screen and (min-width: 968px) {
       body{
           font-size: 90%;
       }
   }



   @media only screen and (min-width: 1200px) {
       body{
        font-size: 95%;
       }
   }


    @media only screen and (min-width: 1500px) {
          body{
        font-size: 100%;
          }
    }