@import "vars";

.int_hero{
	position: relative;
	margin-bottom: 2.5em;
	.slide{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		left: 100%;
		top: 0;
		height: 100%;
		width: 100%;
		&.transition{
			@include transition(left, 0.4s, ease-out);
		}
		&.active{
			left: 0;
		}
		&.left{
			left: -100%;
		}
		.container{
			width: 95%;
			margin: 0 auto;
			height: 100%;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			.contents{
				max-width: 600px;
				h4{
					color: white;
					font-family: 'Barlow Condensed', sans-serif;
					font-weight: 700;
					letter-spacing: 2px;
					font-size: 1.3em;
					margin: 0 0 0.8em;
				}
				h3{
					color: white;
					font-family: "freight-text-pro";
					font-weight: 300; 
					letter-spacing: 0px;
					font-size: 3.92em;
					margin: 0 0 0.23em;
					line-height: 1em;
				}
				p{
					font-family: 'Barlow', sans-serif;
					color: white;
					font-weight: 300;
					font-size: 1.2em;
					margin: 0;
					line-height: 1.5em;
				}
				.ctas{
					margin-top: 2.1em;
					a{
						font-size: 1.2em;
						display: inline-block;
						margin-right: 1.5em;
						&:last-child{
							margin-right: 0;
						}
						&.type1{
							display: none;
						}
						&.type2{
							background-color: $blue;
							color: white;
							border: 2px solid $blue;
							border-radius: 3px;
							padding: 0.65em 1.9em;
							@include transition(all, 0.15s, linear);
							&:hover{
								background-color: red;
								border-color: red;
							}
						}
						&.type3{
							background-color: transparent;
							color: white;
							border: 2px solid $blue;
							border-radius: 3px;
							padding: 0.65em 1.9em;
							@include transition(all, 0.15s, linear);
							&:hover{
								background-color: $blue;
							}
						}
						&.type4{
							color: white;
							position: relative;
							&:after{
								content: "";
								display: inline-block;
								background-image: url(/wp-content/themes/saltwater/img/chevron_right.svg);
								width: 10px;
								height: 13px;
								background-size: contain;
								background-position: center center;
								background-repeat: no-repeat;
								margin-left: 10px;
								@include transition(margin-left, 0.15s, linear);
							}
							&:hover{
								&:after{
									margin-left: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
	ul.indicators{
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		li{
			display: inline-block;
			margin-right: 11px;
			&:last-child{
				margin-right: 0;
			}
			a{
				cursor: pointer;
				width: 17px;
				height: 17px;
				border: 2px solid white;
				display: block;
				background-color: transparent;
				@include transition(all, 0.15s, linear);
				border-radius: 50%;
				&:hover{
					background-color: white;
				}
				&.active{
					background-color: $blue;
					border-color: $blue;
				}
			}
		}
	}
}