/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 31, 2020, 11:28:45 AM
    Author     : kcrosby
*/

//MIXINS
@mixin transition($place, $time) {
    -moz-transition: $place $time ease-out;
    -webkit-transition: $place $time ease-out;
    -o-transition-property: $place $time ease-out;
    -ms-transition-property: $place $time ease-out;
    transition-property: $place $time ease-out;
}