@import "vars";

.split_content, .logo_bar{
	margin-bottom: 2.5em;
	.columns{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.col-sm-30{
		.container{
			width: 95%;
			margin: 0 auto;
			padding: 2em 0;
			display: flex;
			flex-direction: column;
		}
		&.logobar{
			background-color: #eeefef;
			p{
				margin: 0 0 25px 0;
				font-weight: 700;
				color: #585e63;
				text-align: center;
				line-height: 1.25em;
			}
			.logos{
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				img{
					align-self: center;
					margin-bottom: 1.5em;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.col-sm-15{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		min-height: 250px;
		.container{
			width: 95%;
			margin: 0 auto;
			height: 100%;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			.contents{
				max-width: 600px;
				padding: 2.5em 0;
				form{
					input[type="text"],textarea,input[type="num"],input[type="email"],input[type="tel"]{
						border-color: #dfe1e2;
						font-size: 1em;
						padding: 11px 20px;
						margin-bottom: 15px;
						&:hover, &:focus{
							border-color: #f8bc75;
						}
					}
				}
				h4{
					color: white;
					font-family: 'Barlow Condensed', sans-serif;
					font-weight: 700;
					letter-spacing: 2px;
					font-size: 1.3em;
					margin: 0 0 0.8em;
				}
				h3{
					color: white;
					font-family: "freight-text-pro";
					font-weight: 300; 
					letter-spacing: 0px;
					font-size: 3.92em;
					margin: 0 0 0.23em;
					line-height: 1em;
				}
				p{
					font-family: 'Barlow', sans-serif;
					color: white;
					font-weight: 300;
					font-size: 1.2em;
					margin: 0;
					line-height: 1.5em;
					+ .wpcf7{
						margin-top: 2em;
					}
				}
				.ctas{
					margin-top: 2.1em;
					a{
						font-size: 1.2em;
						display: inline-block;
						margin-right: 1.5em;
						&:last-child{
							margin-right: 0;
						}
						&.type1{
							display: none;
						}
						&.type2{
							background-color: $blue;
							color: white;
							border: 2px solid $blue;
							border-radius: 3px;
							padding: 0.65em 1.9em;
							@include transition(all, 0.15s, linear);
							&:hover{
								background-color: red;
								border-color: red;
							}
						}
						&.type3{
							background-color: transparent;
							color: white;
							border: 2px solid $blue;
							border-radius: 3px;
							padding: 0.65em 1.9em;
							@include transition(all, 0.15s, linear);
							&:hover{
								background-color: $blue;
								color: white !important;
							}
						}
						&.type4{
							color: white;
							position: relative;
							&:after{
								content: "";
								display: inline-block;
								background-image: url(/wp-content/themes/saltwater/img/chevron_right.svg);
								width: 10px;
								height: 13px;
								background-size: contain;
								background-position: center center;
								background-repeat: no-repeat;
								margin-left: 10px;
								@include transition(margin-left, 0.15s, linear);
							}
							&:hover{
								&:after{
									margin-left: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
	@media only screen and (min-width: 960px) {
		.columns{
			flex-direction: row;
		}
		.col-sm-30{
			.container{
				flex-direction: row;
				align-items: center;
				flex-wrap: wrap;
			}
			&.logobar{
				p{
					margin: 0 55px 0 0;
					width: 150px;
					text-align: left;
				}
				.logos{
					flex-direction: row;
					align-items: center;
					width: calc(100% - 205px);
					img{
						margin-right: 3em;
						margin-bottom: 10px;
					}
				}
			}
		}
		.col-sm-15{
			width: 50%;
			.container{
				width: 90%;
				.contents{
					padding: 4.5em 0;
				}
			}
		}
	}
}