@mixin transition($place, $time, $ease) {
	-moz-transition: $place $time $ease;
	-webkit-transition: $place $time $ease;
	-o-transition-property: $place $time $ease;
	-ms-transition-property: $place $time $ease;
	transition-property: $place $time $ease;
	transition: $place $time $ease;
}

$blue: #26b4e8;
$red: #f85f5f;