@import "vars";

header#header{
	background-color: white;
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 10;
	.container{
		width: calc(100% - 40px);
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	a.logo{
		display: block;
		svg{
			max-width: 170px;
			width: 170px;
			height: auto;
			path{
				@include transition(all, 0.15s, linear);
			}
		}
		&:hover{
			svg{
				path{
					fill: #f85f5f;
				}
			}
		}
	}
	.btns{
		a.btn{
			color: #08293e;
			font-size: 1.5em;
			font-family: "freight-text-pro";
			border: 1px solid #08293e;
			border-radius: 4px;
			padding: 5px 17px;
			margin-right: 1em;
			@include transition(all, 0.15s, linear);
			&:hover{
				color: white;
				background-color: #08293e;
			}
			span{
				display: none;
			}
		}
		a.link{
			font-size: 1.5em;
			color: $orange;
			img{
				width: 11px;
				height: auto;
				position: relative;
				left: 0;
				padding-left: 5px;
				top: 2px;
				@include transition(all, 0.15s, linear);
			}
			&:hover{
				img{
					left: 5px;
				}
			}
			span{
				display: none;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		.container{
			width: calc(100% - 70px);
			.btns{
				a.btn{
					margin-right: 2em;
				}
				a.btn,a.link{
					font-size: 1.1em;
					i{
						display: none;
					}
					span{
						display: inline-block;
					}
				}
			}
		}
	}
}