@import "vars";

html,body{
	margin: 0;
	padding: 0;
}
a{
	cursor: pointer;
	&.scroll{
		color: white;
		font-family: 'Barlow', sans-serif;
		font-weight: 400;
		letter-spacing: 3px;
		position: fixed;
		right: 35px;
		bottom: 50px;
		z-index: 10;
		font-size: 12px;
	    flex-direction: row;
	    align-items: center;
	    display: none;
	    img{
		    margin-left: 10px;
		    &.alt{
			    display: none;
		    }
	    }
	    &.dark{
		    color: #0a293f;
		    img.main{
			    display: none;
		    }
		    img.alt{
			    display: inline-block;
		    }
	    }
	}
	@media only screen and (min-width: 960px) {
		&.scroll{
			display: flex;
		}	
	}
}
.legend{
	display: none;
	@media only screen and (min-width: 960px) {
		position: fixed;
		right: 14px;
		display: block;
		top: 50%;
		transform: translate(-0%, -50%);
		z-index: 11;
		width: 35px;
		height: 35px;
		@include transition(right, 0.25s, ease-out);
		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 2px;
			height: 100%;
			background-color: white;
			transform: skew(-45deg);
		}
		span{
			font-family: 'Barlow', sans-serif;
			color: white;
			font-size: 22px;
			position: absolute;
			@include transition(color, 0.5s, ease-out);
			&.current{
				font-weight: 900;
				top: -9px;
				left: -15px;
			}
			&.max{
				font-weight: 300;
				bottom: -5px;
				right: 15px;
			}
		}
		&.dark{
			span{
				color: black;
			}
			&:after{
				background-color: black;
			}
		}
		&.inactive{
			right: -100px;
		}
	}
}
#nav{
	display: none;
	@media only screen and (min-width: 960px) {
		position: fixed;
		right: 0;
		display: block;
		top: 50%;
		transform: translate(-0%, -50%);
		z-index: 12;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			width: 135px;
			padding-right: 35px;
			position: relative;
			left: 220px;
			@include transition(left, 0.25s, ease-out);
			li{
				text-align: right;
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
				a{
					font-family: 'Barlow', sans-serif;
					font-weight: 300;
					font-size: 16px;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-items: flex-start;
					color: white;
					@include transition(color, 0.5s, ease-out);
					&.current, &:hover{
						font-weight: 900;
					}
					div{
						width: calc(100% - 45px);
						text-align: right;
					}
					span{
						display: inline-block;
						width: 45px;
						text-align: right;
					}
				}
			}
		}
		@media only screen and (min-width: 1025px) {
			ul{
				width: 185px;
				li{
					a{
						font-size: 21px;
					}
				}
			}
		}
		&.active{
			ul{
				left: 0;
			}
		}
		&.dark{
			ul{
				li{
					a{
						color: black;
					}
				}
			}
		}
	}
}
.tip_toggle{
	position: absolute;
	right: 35px;
	top: 43px;
	z-index: 1;
	display: none;
	@media only screen and (min-width: 960px) {
		display: block;	
	}
	@media only screen and (min-width: 1025px) {
		top: 143px;
	}
}
.protip{
	display: none;
	@media only screen and (min-width: 960px) {
		display: block;
		position: absolute;
		background-color: white;
		width: 425px;
		right: -425px;
		top: 5px;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		height: 210px;
		padding: 0 0;
		z-index: 12;
		@include transition(right, 0.25s, ease-out);
		a.toggle{
			width: 60px;
			background-image: url(/wp-content/themes/saltwater/img/playbook/chevron_orange.svg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 12px;
			height: 210px;
		}
		.contents{
			width: 335px;
		}
		h3{
			font-family: 'Barlow', sans-serif;
			font-weight: 700;
			color: black;
			font-size: 1.66em;
			margin: 0 0 0.25em;
		}	
		p{
			font-family: 'Barlow', sans-serif;
			font-weight: 300;
			color: black;
			font-size: 1.05em;
			margin: 0;
			line-height: 1.35em;
		}
		&.active{
			right: 0;
		}
		&.dark{
			background-color: #08293e;
			h3, p{
				color: white;
			}
		}
		@media only screen and (min-width: 1025px) {
			top: 60px;
		}
	}
}