@import "vars";

.scenes{
	padding-top: 80px;
	.scene{
		position: relative;
		padding: 10px 0 50px;
	}
	#scene1{
		background-color: $orange;
		background-image: url(/wp-content/themes/saltwater/img/playbook/largeangle.png);
		background-size: cover;
	    background-position: 30% 50%;
	    background-repeat: no-repeat;
	    z-index: 1;
	    height: calc(100vh - 80px - 80px);
		img{
			position: absolute;
			opacity: 0.15;
			&.img1{
				width: 30%;
				max-width: 366px;
				left: 3%;
				top: 30px;
			}
			&.img2{
				width: 27%;
				max-width: 293px;
				bottom: 12%;
				right: 21%;
			}
			&.img3{
				width: 23%;
				max-width: 280px;
				bottom: 7%;
				right: 3%;
			}
		}
		.container{
			width: calc(100% - 75px);
			margin: 0 auto;
			position: relative;
			z-index: 2;
			display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    height: 100%;
		}
		h4{
			color: #09293f;
			font-family: 'Barlow', sans-serif;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 15px;
			text-align: center;
			padding-top: 40px;
			margin: 0 0 100px;
		}
		h1{
			color: white;
			font-family: "freight-text-pro";
			font-weight: 700;
			font-size: 4.5em;
			margin: 0 auto 25px;
			max-width: 680px;
			text-align: center;
			line-height: 1em;
		}
		h2{
			color: white;
			font-family: 'Barlow', sans-serif;
			font-weight: 400;
			margin: 0 auto 50px;
			font-size: 2.0em;
			max-width: 540px;
			text-align: center;
		}
		p{
			color: #09293f;
			font-family: 'Barlow', sans-serif;
			font-weight: 300;
			max-width: 540px;
			text-align: center;
			margin: 0 auto;
			font-size: 1.5em;
		}
	}
	#scene2{
		background-color: white;
		background-image: url(/wp-content/themes/saltwater/img/playbook/largeangle.png);
		background-size: cover;
	    background-position: 30% 50%;
	    background-repeat: no-repeat;
	    z-index: 9;
	    .container{
			width: calc(100% - 75px);
			margin: 0 auto;
			position: relative;
			z-index: 2;
			max-width: 1440px;
			.col-sm-15{
				img{
					margin-bottom: 2em;
					width: 75%;
					height: auto;
					max-width: 375px;
				}
			}
			h2{
				color: $orange;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 2.3em;
				max-width: 1200px;
				margin: 40px auto;
			}
			p{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 300;
				font-size: 1.25em;
				line-height: 1.45em;
				margin-bottom: 2.0em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					line-height: 1.3em;
					font-size: 1.9rem;
				}
			}
		}
	}
	#scene3{
		background-color: $orange;
		background-image: url(/wp-content/themes/saltwater/img/playbook/largeangle.png);
		background-size: cover;
	    background-position: 30% 50%;
	    background-repeat: no-repeat;
	    z-index: 8;
	    .container{
			width: calc(100% - 75px);
			margin: 0 auto;
			position: relative;
			z-index: 2;
			max-width: 1440px;
			.col-sm-15{
				img{
					margin-bottom: 2em;
					width: 75%;
					height: auto;
					max-width: 375px;
				}
			}
			h2{
				color: white;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 2.3em;
				max-width: 1200px;
				margin: 40px auto 5px;
			}
			h3{
				color: white;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 1.85em;
				max-width: 1200px;
				margin: 0 auto 40px;
			}
			h4{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 500;
				font-size: 2em;
				line-height: 1.45em;
				margin-bottom: 0.7em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					line-height: 1.3em;
					font-size: 1.9rem;
				}
			}
			p{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 300;
				font-size: 1.25em;
				line-height: 1.45em;
				margin-bottom: 1.25em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					margin-bottom: -0.75em;
					display: block;
				}
			}
		}
	}
	#scene4{
		background-color: white;
		background-image: url(/wp-content/themes/saltwater/img/playbook/largeangle.png);
		background-size: cover;
	    background-position: 30% 50%;
	    background-repeat: no-repeat;
	    z-index: 7;
	    .container{
			width: calc(100% - 75px);
			margin: 0 auto;
			position: relative;
			z-index: 2;
			max-width: 1440px;
			.col-sm-15{
				img{
					margin-bottom: 2em;
					width: 75%;
					height: auto;
					margin-top: 1.5em;
					max-width: 375px;
				}
			}
			h2{
				color: $orange;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 2.3em;
				max-width: 1200px;
				margin: 40px auto 5px;
			}
			h3{
				color: $orange;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 1.85em;
				max-width: 1200px;
				margin: 0 auto 40px;
			}
			h4{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 500;
				font-size: 2em;
				line-height: 1.45em;
				margin-bottom: 0.7em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					line-height: 1.3em;
					font-size: 1.9rem;
				}
			}
			p{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 300;
				font-size: 1.25em;
				line-height: 1.45em;
				margin-bottom: 1.25em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					margin-bottom: -0.75em;
					display: block;
				}
			}
		}
	}
	#scene5{
		background-color: $orange;
		background-image: url(/wp-content/themes/saltwater/img/playbook/largeangle.png);
		background-size: cover;
	    background-position: 30% 50%;
	    background-repeat: no-repeat;
	    z-index: 6;
	    .container{
			width: calc(100% - 75px);
			margin: 0 auto;
			z-index: 2;
			max-width: 1440px;
			.col-sm-15{
				img{
					margin-bottom: 2em;
					width: 75%;
					height: auto;
					margin-top: 1.5em;
					max-width: 375px;
				}
			}
			h2{
				color: white;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 2.3em;
				max-width: 1200px;
				margin: 40px auto 5px;
			}
			h3{
				color: white;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 1.85em;
				max-width: 1200px;
				margin: 0 auto 40px;
			}
			h4{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 500;
				font-size: 2em;
				line-height: 1.45em;
				margin-bottom: 0.7em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					line-height: 1.3em;
					font-size: 1.9rem;
				}
			}
			p{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 300;
				font-size: 1.25em;
				line-height: 1.45em;
				margin-bottom: 1.25em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					margin-bottom: -0.75em;
					display: block;
				}
			}
		}
	}
	#scene6{
		background-color: white;
		background-image: url(/wp-content/themes/saltwater/img/playbook/largeangle.png);
		background-size: cover;
	    background-position: 30% 50%;
	    background-repeat: no-repeat;
	    z-index: 5;
	    .container{
			width: calc(100% - 75px);
			margin: 0 auto;
			z-index: 2;
			max-width: 1440px;
			.col-sm-15{
				img{
					margin-bottom: 2em;
					width: 75%;
					height: auto;
					margin-top: 1.5em;
					&.img1{
						max-width: 300px;
					}
					&.img2{
						max-width: 130px;
					}
				}
			}
			h2{
				color: $orange;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 2.3em;
				max-width: 1200px;
				margin: 40px auto 5px;
			}
			h3{
				color: $orange;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 1.85em;
				max-width: 1200px;
				margin: 0 auto 40px;
			}
			h4{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 500;
				font-size: 2em;
				line-height: 1.45em;
				margin-bottom: 0.7em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					line-height: 1.3em;
					font-size: 1.9rem;
				}
			}
			p{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 300;
				font-size: 1.25em;
				line-height: 1.45em;
				margin-bottom: 1.25em;
				br{
					display: none;
				}
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					margin-bottom: -0.75em;
					display: block;
				}
			}
		}
	}
	#scene7{
		background-color: $orange;
		background-image: url(/wp-content/themes/saltwater/img/playbook/largeangle.png);
		background-size: cover;
	    background-position: 30% 50%;
	    background-repeat: no-repeat;
	    z-index: 4;
	    .container{
			width: calc(100% - 75px);
			margin: 0 auto;
			position: relative;
			z-index: 2;
			max-width: 1440px;
			.col-sm-15{
				img{
					margin-bottom: 2em;
					width: 75%;
					height: auto;
					margin-top: 1.5em;
					max-width: 375px;
				}
			}
			h2{
				color: white;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 2.3em;
				max-width: 1200px;
				margin: 40px auto 5px;
			}
			h3{
				color: white;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 1.85em;
				max-width: 1200px;
				margin: 0 auto 40px;
			}
			h4{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 500;
				font-size: 2em;
				line-height: 1.45em;
				margin-bottom: 0.7em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					line-height: 1.3em;
					font-size: 1.9rem;
				}
			}
			p{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 300;
				font-size: 1.25em;
				line-height: 1.45em;
				margin-bottom: 1.25em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					margin-bottom: -0.75em;
					display: block;
				}
			}
		}
	}
	#scene8{
		background-color: white;
		background-image: url(/wp-content/themes/saltwater/img/playbook/largeangle.png);
		background-size: cover;
	    background-position: 30% 50%;
	    background-repeat: no-repeat;
	    z-index: 3;
	    .container{
			width: calc(100% - 75px);
			margin: 0 auto;
			z-index: 2;
			max-width: 1440px;
			.col-sm-15{
				img{
					margin-bottom: 2em;
					width: 75%;
					height: auto;
					margin-top: 1.5em;
					&.img1{
						max-width: 200px;
					}
					&.img2{
						max-width: 170px;
					}
				}
			}
			h2{
				color: $orange;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 2.3em;
				max-width: 1200px;
				margin: 40px auto 5px;
			}
			h3{
				color: $orange;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 1.85em;
				max-width: 1200px;
				margin: 0 auto 40px;
			}
			h4{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 500;
				font-size: 2em;
				line-height: 1.45em;
				margin-bottom: 0.7em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					line-height: 1.3em;
					font-size: 1.9rem;
				}
			}
			p{
				margin: 0;
				color: $navy;
				font-family: 'Barlow', sans-serif;
				font-weight: 300;
				font-size: 1.25em;
				line-height: 1.45em;
				margin-bottom: 1.25em;
				br{
					display: none;
				}
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					margin-bottom: -0.75em;
					display: block;
				}
			}
		}
	}
	#scene9{
		background-color: #09293f;
		background-image: url(/wp-content/themes/saltwater/img/playbook/largeangle.png);
		background-size: cover;
	    background-position: 30% 50%;
	    background-repeat: no-repeat;
	    z-index: 2;
	    .container{
			width: calc(100% - 75px);
			margin: 0 auto;
			position: relative;
			z-index: 2;
			max-width: 1440px;
			margin-top: 40px;
			form{
				.wpcf7-list-item{
					margin-left: 0;
					display: flex;
				    flex-direction: row;
				    align-items: flex-start;
				}
				input[type="text"], input[type="num"], input[type="tel"], input[type="email"]{
					box-sizing: border-box;
					width: 100%;
					font-size: 1.5em;
					font-family: 'Barlow', sans-serif;
					color: $navy;
					font-size: 1.2rem;
					border-radius: 5px;
					border: 2px solid white;
					padding: 8px 17px;
					&:hover,&:focus{
						outline: 0;
						border-color: $orange;
					}
				}
				input[type="submit"]{
					-webkit-appearance: none;
					background-color: $orange;
					border-radius: 5px;
					font-family: 'Barlow', sans-serif;
					font-weight: 700;
					text-align: center;
					width: 240px;
					outline: 0;
					color: white;
					border: 0;
					cursor: pointer;
					font-size: 1.35rem;
					padding: 18px 0;
					display: block;
					margin: 50px auto 0;
					@include transition(background-color, 0.1s, ease-out);
					&:hover{
						background-color: darken($orange, 20%);
					}
				}
				input[type="checkbox"]{
					-webkit-appearance: none;
				    width: 19px !important;
				    height: 19px !important;
				    border: 2px solid white;
				    padding: 0 !important;
				    float: none !important;
				    padding: 0 !important;
				    margin: 0 !important;
				    position: absolute;
				    border-radius: 3px;
				    + span.wpcf7-list-item-label{
					    position: relative;
					    vertical-align: top;
					    padding-left: 10px;
					    cursor: pointer;
					    text-transform: none;
					    width: calc(100% - 30px);
					    margin-left: 30px;
					    font-size: 1rem;
					    line-height: 1.25em;
					    i{
						    font-size: 1em;
						    position: relative;
						    top: 0;
			// 			    top: -0.5em;
						    left: 7px;
						    color: #840b55;
						    font-weight: bold;
						    @include transition(transform, 0.1s, ease-out);
					    }
					    @include transition(opacity, 0.1s, ease-out);
						&:before{
							font-family: "Font Awesome 5 Pro";
						    color: white;
						    font-weight: 900;
						    content: "\f00c";
						    font-style: normal;
						    position: absolute;
						    left: -19px;
						    top: 0px;
						    font-size: 11px;
						    z-index: 1;
						    display: none;
						}
					    
					}
					&:hover{
						border-color: $orange;
					}
					&:focus{
						outline: none;
					}
					&:checked{
					   + span.wpcf7-list-item-label{
					   	&:before{
						   	 display: block;
					   	}
					   }
				    }
				}
			}
			.col-sm-15{
				img{
					margin-bottom: 2em;
					width: 100%;
					height: auto;
					margin-top: 1.5em;
				}
			}
			h2{
				color: white;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 2.3em;
				max-width: 1200px;
				margin: 0 auto 5px;
			}
			h3{
				color: white;
				text-align: center;
				font-family: "freight-text-pro";
				font-weight: 700;
				font-size: 1.85em;
				max-width: 1200px;
				margin: 0 auto 40px;
			}
			h4{
				margin: 0;
				color: white;
				font-family: 'Barlow', sans-serif;
				font-weight: 500;
				font-size: 2em;
				line-height: 1.45em;
				margin-bottom: 0.7em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					line-height: 1.3em;
					font-size: 1.9rem;
				}
			}
			p{
				margin: 0;
				color: white;
				font-family: 'Barlow', sans-serif;
				font-weight: 300;
				font-size: 1.5em;
				line-height: 1.45em;
				margin-bottom: 1.25em;
				&:last-child{
					margin-bottom: 0;
				}
				b{
					font-weight: 500;
					margin-bottom: -0.75em;
					display: block;
				}
			}
			.socialcol{
				border-top: 1px solid white;
				margin-top: 1.5em;
				p{
					text-align: center;
					margin: 1.5em 0;
					width: 100%;
					max-width: 100%;
				}
				ul{
					margin: 0;
					padding: 0;
					list-style: none;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					li{
						margin-right: 40px;
						&:last-child{
							margin-right: 0;
						}
						a{
							img{
								width: initial;
								left: 0;
								margin: 0;
							}
						}
					}
				}
				a.btn{
					-webkit-appearance: none;
					background-color: white;
					text-decoration: none;
					border-radius: 5px;
					font-family: 'Barlow', sans-serif;
					font-weight: 700;
					text-align: center;
					width: 240px;
					outline: 0;
					color: $navy;
					border: 0;
					cursor: pointer;
					font-size: 1.35rem;
					padding: 18px 0;
					display: block;
					margin: 50px auto 0;
					@include transition(background-color, 0.1s, ease-out);
					&:hover{
						background-color: darken(white, 20%);
					}
				}
			}
		}
	}
	@media only screen and (max-width: 959px) {
		#scene2, #scene3, #scene4, #scene5, #scene6, #scene7, #scene8, #scene9{
			.container{
				img{
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		#scene6{
			.container{
				.col-sm-15{
					.img2{
						position: relative;
					    margin-top: -100px;
					    left: 57px;
					}
				}
			}
		}
	}
	@media only screen and (min-width: 960px) {
		padding-top: 0;
		.scene{
			height: calc(100vh - 80px - 28px);
			position: fixed;
			top: calc(100vh - 28px);
			left: 0;
			width: 100%;
			padding: 0;
			overflow-x: hidden;
			overflow-y: scroll;
			-ms-overflow-style: none;
			.container{
				padding-bottom: 75px;
			}
			scrollbar-width: none;
			&::-webkit-scrollbar { 
			    display: none;
			}
			&.trans{
				@include transition(all, 0.6s, ease-out);
			}
			&.active{
				top: 80px !important;
			}
			&.off{
				top: calc(-100vh + 0px) !important;
			}
			.container{
/*
				overflow-x: hidden;
				overflow-y: scroll;
*/
				-ms-overflow-style: none;
				scrollbar-width: none;
				&::-webkit-scrollbar { 
				    display: none;
				}
				.col-sm-30, .col-sm-15{
					position: relative;
				}
			}
		}
		#scene1{
			background-position: -2000px 50%;
			top: 80px;
			height: calc(100vh - 80px - 28px);
			&.active{
				background-position: -110px 50%;
			}
			img{
				opacity: 1;
				@include transition(all, 0.75s, ease-out);
				&.img1{
					left: -25%;
					opacity: 0;
				}
				&.img2{
					right: -25%;
					opacity: 0;
				}
				&.img3{
					right: -25%;
					opacity: 0;
				}
				&.active{
					opacity: 0.15;
					&.img1{
						left: 3%;
					}
					&.img2{
						right: 21%;
					}
					&.img3{
						right: 3%;
					}
				}
			}
			h4{
				font-size: 17px;
				margin: 0;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				top: 140px;
				opacity: 0;
				@include transition(all, 0.75s, ease-out);
				&.active{
					opacity: 1;
					top: 40px;
				}
			}
			h1{
				font-size: 5.87em;
				margin: 0 0 15px;
				opacity: 0;
				top: 100px;
				position: relative;
				@include transition(all, 0.75s, ease-out);
				&.active{
					opacity: 1;
					top: 0;
				}
			}
			h2{
				font-size: 2.76em;
				margin: 0 0 40px;
				opacity: 0;
				position: relative;
				top: 100px;
				@include transition(all, 0.75s, ease-out);
				&.active{
					opacity: 1;
					top: 0;
				}
			}
			p{
				font-size: 1.8em;
				margin: 0;
				opacity: 0;
				position: relative;
				top: 100px;
				@include transition(all, 0.75s, ease-out);
				&.active{
					opacity: 1;
					top: 0;
				}
			}
		}
		#scene2{
			background-position: -2000px 50%;
			&.active{
				background-position: -110px 50%;
			}
			.container{
				width: calc(100% - 260px);
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				.col-sm-30{
					width: 100%;
					position: relative;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
				}
				.col-sm-15{
					width: 50%;
					top: 100px;
					opacity: 0;
					position: relative;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					img{
						margin-left: 7%;
						width: 84%;
						max-width: 690px;
						margin-bottom: 25px;
						max-height: 440px;
						max-width: 509px;
						margin-bottom: 0;
					}
				}
				h2{
					margin: 80px auto;
					font-size: 2.8em;
				}
				p{
					max-width: 500px;
					width: 90%;
				}
			}
		}
		#scene3{
			background-position: -2000px 50%;
			&.active{
				background-position: -110px 50%;
			}
			.container{
				width: calc(100% - 260px);
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				max-width: 1200px;
				.col-sm-30{
					width: 100%;
					position: relative;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					&.smaller{
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						max-width: 1200px;
						margin: 0 auto;
					}
				}
				.col-sm-15{
					width: 50%;
					position: relative;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					img{
						width: 84%;
						max-width: 400px;
						margin-bottom: 0;
					}
					&:first-child{
						p{
							max-width: 500px;
						}
					}
				}
				h2{
					margin: 40px auto 10px;
					font-size: 2.8em;
				}
				h3{
					margin: 0 auto 50px;
				}
				p{
					width: 90%;
					max-width: 510px;
				}
			}
		}
		#scene4{
			background-position: -2000px 50%;
			&.active{
				background-position: -110px 50%;
			}
			.container{
				width: calc(100% - 260px);
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				max-width: 1200px;
				.col-sm-30{
					width: 100%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					&.smaller{
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						max-width: 1200px;
						margin: 0 auto;
					}
				}
				.col-sm-15{
					width: 50%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					img{
						width: 93%;
						max-width: 425px;
						margin-bottom: 0;
						position: relative;
						left: -7.5%;
					}
					&:first-child{
						p{
							max-width: 500px;
						}
					}
				}
				h2{
					margin: 40px auto 10px;
					font-size: 2.8em;
				}
				h3{
					margin: 0 auto 50px;
				}
				p{
					width: 90%;
					max-width: 510px;
				}
			}
		}
		#scene5{
			background-position: -2000px 50%;
			&.active{
				background-position: -110px 50%;
			}
			.container{
				width: calc(100% - 260px);
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				max-width: 1200px;
				.col-sm-30{
					width: 100%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					&.smaller{
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						max-width: 1200px;
						margin: 0 auto;
						position: initial;
					}
				}
				.col-sm-15{
					width: 50%;
					top: 100px;
					opacity: 0;
					position: initial;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					img{
						width: 39.5%;
					    max-width: 575px;
					    margin-bottom: 0;
					    position: absolute;
					    bottom: 0;
					    margin-left: -5%;
					    margin-top: 0;
					    @media only screen and (max-height: 1010px) {
						    width: 30.5%;
						    margin-left: 0;
						}
						@media only screen and (max-height: 925px) {
						    width: 27.5%;
						    margin-left: 0;
						}
						@media only screen and (max-height: 850px) {
						    z-index: -1;
						    opacity: 1;
						    @media only screen and (max-width: 1025px) {
								 opacity: 0.1;
							}
						}
						@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
							opacity: 1 !important;
						}
					}
					&:first-child{
						p{
							max-width: 500px;
						}
					}
				}
				h2{
					margin: 40px auto 10px;
					font-size: 2.8em;
				}
				h3{
					margin: 0 auto 50px;
				}
				p{
					width: 90%;
					max-width: 510px;
				}
			}
		}
		#scene6{
			background-position: -2000px 50%;
			&.active{
				background-position: -110px 50%;
			}
			.container{
				width: calc(100% - 260px);
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				max-width: 1200px;
				.col-sm-30{
					width: 100%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					&.smaller{
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						max-width: 1200px;
						margin: 0 auto;
					}
				}
				.col-sm-15{
					width: 50%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					img{
						max-width: 330px;
						margin: 0 auto;
						&.img2{
							max-width: 190px;
							margin-top: -100px;
							margin-left: 40%;
						}
/*
						width: 50%;
					    max-width: 366px;
					    margin-bottom: 0;
					    position: absolute;
*/
					}
					&:first-child{
						position: relative;
						p{
							max-width: 500px;
/*
							max-width: 304px;
							width: 51%;
*/
						}
						img{
/*
							width: 60%;
							top: 39%;
							margin-left: 21%;
*/
						}
					}
				}
				h2{
					margin: 40px auto 10px;
					font-size: 2.8em;
				}
				h3{
					margin: 0 auto 50px;
				}
				p{
					width: 90%;
					max-width: 510px;
					br{
						display: none;
					}
				}
			}
		}
		#scene7{
			background-position: -2000px 50%;
			&.active{
				background-position: -110px 50%;
			}
			.container{
				width: calc(100% - 260px);
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				max-width: 1200px;
				.col-sm-30{
					width: 100%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					&.smaller{
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						max-width: 1200px;
						margin: 0 auto;
					}
				}
				.col-sm-15{
					width: 50%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					img{
						width: 93%;
						max-width: 425px;
						margin-bottom: 0;
						position: relative;
						left: -7.5%;
					}
					&:first-child{
						p{
							max-width: 500px;
						}
					}
				}
				h2{
					margin: 40px auto 10px;
					font-size: 2.8em;
				}
				h3{
					margin: 0 auto 50px;
				}
				p{
					width: 90%;
					max-width: 510px;
				}
			}
		}
		#scene8{
			background-position: -2000px 50%;
			&.active{
				background-position: -110px 50%;
			}
			.container{
				width: calc(100% - 260px);
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				max-width: 1200px;
				.col-sm-30{
					width: 100%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					&.smaller{
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						max-width: 1200px;
						margin: 0 auto;
					}
				}
				.col-sm-15{
					width: 50%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					img{
						max-width: 290px;
						margin: 0 auto;
						&.img2{
							max-width: 190px;
							margin-top: -100px;
							margin-left: 40%;
						}
/*
						width: 50%;
					    max-width: 366px;
					    margin-bottom: 0;
					    position: absolute;
*/
					}
					&:first-child{
						position: relative;
						p{
/*
							max-width: 304px;
							width: 51%;
*/
						}
						img{
/*
							width: 60%;
							top: 39%;
							margin-left: 21%;
*/
						}
					}
				}
				h2{
					margin: 40px auto 10px;
					font-size: 2.8em;
				}
				h3{
					margin: 0 auto 50px;
				}
				p{
					width: 90%;
					max-width: 510px;
					br{
						display: none;
					}
				}
			}
		}
		#scene9{
			background-position: -2000px 50%;
			height: calc(100vh - 80px);
			display: flex;
		    flex-direction: row;
		    flex-wrap: wrap;
		    align-items: center;
		    justify-content: center;
			&.active{
				background-position: -110px 50%;
			}
			.container{
				width: calc(100% - 260px);
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				align-items: center;
				margin-top: 0;
				.col-sm-30{
					width: 100%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					&.smaller{
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						max-width: 1250px;
						margin: 0 auto;
						align-items: center;
					}
				}
				.col-sm-15{
					width: 50%;
					top: 100px;
					opacity: 0;
					@include transition(all, 0.5s, ease-out);
					&.active{
						top: 0;
						opacity: 1;
					}
					img{
						width: 93%;
						max-width: 400px;
						margin-bottom: 0;
						position: relative;
						left: -2.5%;
					}
					&.socialcol{
						position: initial;
						margin-top: 0;
						border-top: 0;
						.angle{
							height: 100%;
							position: absolute;
						    background-color: white;
						    top: 0;
						    left: 230px;
						    right: 0;
						    margin: auto;
						    width: 1px;
						    transform: skew(-12deg);
						}
						.content{
							width: calc(100% - 230px);
							margin-left: 230px;
						}
					}
				}
				h2{
					margin: 0 auto 10px;
					font-size: 2.8em;
				}
				h3{
					margin: 0 auto 50px;
				}
				p{
					max-width: 575px;
					width: 95%;
				}
			}
		}
	}
	@media only screen and (min-width: 1200px) {
		.scene{
			.container{
				padding-bottom: 0;
			}
		}
		#scene1{
			img{
				&.active{
					&.img1{
						left: 3%;
						opacity: 1;
					}
					&.img2{
						right: 21%;
						opacity: 1;
					}
					&.img3{
						right: 3%;
						opacity: 1;
					}
				}
			}
		}
		#scene6{
			.container{
				p{
					br{
						display: block;
					}
				}
				.col-sm-15{
					img{
						&.img1{
							position: absolute;
						    top: 175px;
						    left: 140px;
						    max-width: 330px;
						    width: 65%;
							
						}
						&.img2{
							position: absolute;
						    top: 435px;
							left: 300px;
							margin-top: 0;
							margin-left: 0;
							width: 23%;
						}
					}
				}
			}
		}
		#scene8{
			.container{
				p{
					br{
						display: block;
					}
				}
				.col-sm-15{
					&:first-child{
						p{
							max-width: 400px;
						}
					}
					img{
						&.img1{
							position: absolute;
						    top: 218px;
						    left: 190px;
						    max-width: 225px;
						    width: 55%;
							
						}
						&.img2{
							position: absolute;
						    top: 485px;
							left: 300px;
							margin-top: 0;
							margin-left: 0;
							width: 29%;
						}
					}
				}
			}
		}
	}
	@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
		.scene{
			font-size: 83%;
		}
		#scene2{
			.container{
				h2{
					font-size: 2.25em;
				}
				p{
					b{
						font-size: 1.5rem;
					}
				}
			}
		}
		#scene5{
			.container{
				.col-sm-15{
					img{
						opacity: 1 !important;
					}
				}
			}
		}
		#scene6{
			.container{
				.col-sm-15{
					img{
						&.img1{
							max-width: 200px;
						}
						&.img2{
							max-width: 120px;
							margin-left: 28%;
						}
					}
				}
			}
		}
		#scene9{
			font-size: 75%;
			.container{
				padding-bottom: 0;
				.socialcol{
					a.btn{
						font-size: 1.15rem;
						width: 150px;
					}
				}
			}
		}
	}
	@media only screen 
	  and (min-width: 1024px) 
	  and (max-height: 1366px) 
	  and (orientation: portrait) 
	  and (-webkit-min-device-pixel-ratio: 1.5) {
		  .tip_toggle{
			  top: 93px;
		  }
		  .protip{
			  top: 55px;
		  }
		  .scene{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			  .container{
				  padding-bottom: 0;
			  }
		  }
	}
	@media only screen 
	  and (min-width: 1024px) 
	  and (max-height: 1366px) 
	  and (orientation: landscape) 
	  and (-webkit-min-device-pixel-ratio: 1.5) {
	  	.tip_toggle{
			  top: 93px;
		  }
		  .protip{
			  top: 55px;
		  }
		  .scene{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			  .container{
				  padding-bottom: 0;
			  }
		  }
	}
}